services:
  mysql:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: yehuozhili
      MYSQL_DATABASE: nest-admin
    ports:
      - '3306:3306'
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:7.4
    restart: unless-stopped
    command: ['redis-server', '--requirepass', 'myredispass']
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data

  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080

volumes:
  mysql_data:
  redis_data:
